{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista_provedores.css' %}">
    <title>Lista de Proveedores</title>
</head>
<body>
    <h3>Esta es mi lista de proveedores:</h3>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.apellido }}</td>
                <td>{{ proveedor.dni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'crear_proveedor' %}">Crear nuevo Proveedor</a></button>
    <button><a href="{% url 'mostrar_productos' %}">Volver a la lista de productos</a></button>
    
</body>
</html>
