{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista_provedores.css' %}">
    <title>Document</title>
</head>
<body>
    <h3>Esta es mi lista de provedores:</h3>
    <table>
        <thead>
            <tr>
                <th>nombre</th>
                <th>apellido</th>
                <th>dni</th>
            </tr>
        </thead>
        <tbody>
            {% for provedor in provedores %}
            <tr>
                <td>{{provedor.nombre}}</td> 
                <td>{{provedor.apellido}}</td>  
                <td>{{provedor.dni}}</td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button><a href="/productos/listar/">VOLVER A LISTA DE PRODUCTOS</a></button>
</body>
</html>