{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista_productos.css' %}">
    <title>Lista de Productos</title>
</head>
<body>
    <h3>Esta es mi lista de productos</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock Actual</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock_actual }}</td>
                <td>{{ producto.proveedor.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'crear_producto' %}">Crear nuevo Producto</a></button>
    <button><a href="{% url 'mostrar_proveedor' %}">Ir a la lista de proveedores</a></button>
</body>
</html>
